@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@400;700&display=swap");

:root{
    --dark-brown:#43281c;
    --light-yellow: #fbf2c0;
    --brown:  #885a2d;
    --light-orange: #eee1d5;
    --white:  #efefef;
    --nude:  #b08968;
    --font-size: 2vw;
    --mono:"Oxygen mono", monospace;
    --sans: "Oxygen", sans-serif;
}

body {
    font-family: var(--sans);
    padding: 0;
    margin: 0;
    color: black;
    font-size: var(--font-size);
    background-color: var(--white);
    
}

/* NavBar Section */

nav {
    text-align: center;
    background-color: var(--dark-brown);
    color: var(--light-yellow);
    font-size: 1rem;
    padding: 0 0 2rem 0;
    grid-column: 1 / 9;    
}

nav img {
    height: 45px;
    width: 45px;
    position: relative;
    top: 15px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    background-color: var(--white);
    gap: 4%;
}

/* Items Sections */

#items {
    
    grid-column: 1/ 5;
    margin-left: 1rem;
    border-radius: 1rem;
    padding: 1rem 2rem 2rem 2rem;
    background-color: var(--light-orange);
}

table {
    width: 100%;
}

table tr td:last-child {
    text-align: end;
    
}

/* Name Section */

#name {
    grid-column: 5/ 9;
    margin-right: 1rem;
    border-radius: 1rem;
    padding: 1rem 2rem 2rem 2rem;
    background-color: var(--light-orange);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

#payment {
    grid-column: 5/ 9;
    margin-right: 1rem;
    border-radius: 1rem;
    padding: 1rem 2rem 2rem 2rem;
    background-color: var(--light-orange);
    height: fit-content;
    
}

#total{
    grid-column: 4/ 6;
    background-color: var(--white);
    
}

button {
    grid-column: 2/8;
    background-color: var(--nude);
    border-radius: 20px 20px 20px 20px;
    padding: 1rem;
    margin-bottom: 3rem;
    
}











